<a href="https://colab.research.google.com/github/Akihiroflyfishing0127/Python_basic_kadai-/blob/main/kadai_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print (1+2)

3

In [13]:
import random
num=random.randint(0,4)
print(num)
if num==4:
  print("ooatari!")
elif num==3:
  print("atari")
else:
  print('hazure')

2
hazure

In [28]:
for i in range(1,11):
    if i % 2 == 1:
       continue
    print(i)

2
4
6
8
10

In [32]:
import random
num=1

while num!=0:
  num=random.randint(0,10)
  print(f"The number is{num}desu")

The number is6desu
The number is7desu
The number is7desu
The number is5desu
The number is9desu
The number is6desu
The number is0desu

In [39]:
personal_data={"name":"Akihiro","age":"54","gender":"male"}
for key,value in personal_data.items():
    print(f"{key} is {value}.")

for value in personal_data.values():
  print(f"{value}desu")

name is Akihiro.
age is 54.
gender is male.
Akihirodesu
54desu
maledesu

In [51]:
def calculation_total(price,tax_ratio):
    total = price*(1+tax_ratio)
    print(f"{total}desu")

calculation_total(800,0.1)

880.0000000000001desu